.navigation {
  &_checkbox {
    display: none;
  }
  &_button {
    background-color: $color-white;
    height: 7rem;
    width: 7rem;
    position: fixed;
    top: 6rem;
    right: 6rem;
    box-shadow: 0 1rem 3rem rgba($color-black, $alpha: 0.1);
    border-radius: 50%;
    z-index: 2000;
    text-align: center;
    cursor: pointer;
    @include respond(tabPort) {
      top: 4rem;
      right: 4rem;
    }

    @include respond(phone) {
      top: 3rem;
      right: 3rem;
    }
  }
  &_background {
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    background-image: radial-gradient(
      $color-primary-light,
      $color-primary-dark
    );
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 1000;
    transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);

    @include respond(tabPort) {
      top: 4.5rem;
      right: 4.5rem;
    }

    @include respond(phone) {
      top: 3.5rem;
      right: 3.5rem;
    }
  }
  &_nav {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1500;
    // opacity: 0;
    display: hidden;
    width: 0;
    transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 0.5);
  }
  &_list {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    list-style: none;
    text-align: center;
    width: 100%;
  }
  &_item {
    margin: 1rem;
  }
  &_link {
    &:link,
    &:visited {
      display: inline-block;
      font-size: 3rem;
      font-weight: 300;
      padding: 1rem 2rem;
      color: $color-white;
      text-decoration: none;
      text-transform: uppercase;
      background-image: linear-gradient(
        120deg,
        transparent 0%,
        transparent 50%,
        $color-white 50%
      );
      background-size: 220%;
      transition: all 0.4s;

      span {
        margin-right: 1.5rem;
        display: inline-block;
      }
    }
    &:hover,
    &:active {
      background-position: 100%;
      color: $color-primary;
      transform: translate(1rem);
    }
  }

  //FUNCTIONALITY

  &_checkbox:checked ~ &_background {
    transform: scale(80);
  }

  &_checkbox:checked ~ &_nav {
    display: block;
    width: 100%;
    z-index: 1500;
  }

  //ICON

  &_icon {
    position: relative;
    margin-top: 3.5rem;

    &,
    &::before,
    &::after {
      width: 3rem;
      height: 2px;
      background-color: $color-gray-dark-3;
      display: inline-block;
    }

    &::after,
    &::before {
      content: "";
      position: absolute;
      left: 0;
      transform: all 0.2s;
    }

    &::before {
      top: -0.8rem;
    }
    &::after {
      top: 0.8rem;
    }
  }

  &_button:hover &_icon::before {
    top: -1rem;
  }

  &_button:hover &_icon::after {
    top: 1rem;
  }
  &_checkbox:checked + &_button &_icon {
    background-color: transparent;
  }

  &_checkbox:checked + &_button &_icon::before {
    top: 0;
    transform: rotate(135deg);
  }

  &_checkbox:checked + &_button &_icon::after {
    top: 0;
    transform: rotate(-135deg);
  }
}
