*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;

  @include respond(tabLand) {
    font-size: 56.25%;
  }

  @include respond(tabPort) {
    font-size: 50%;
  }
  @include respond(bigDesktop) {
    font-size: 75%;
  }
}

body {
  box-sizing: border-box;
  padding: 3rem;

  @include respond(tabPort) {
    padding: 0;
  }
}

::selection {
  background-color: $color-primary;
  color: $color-white;
}
